# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dependency files
*.d

# Temporary files
.tmp
*.swp

# Doxygen files
latex
src/html/
src/latex/
html/
latex/

# Ignores the vscode folder
.vscode/

# Executable
JOGO

#Vim swp
*.swp
*.swo
